<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>404</title>
  </head>
  <body>
    <div class="container-notfound">
      <div class="notfound__error">
        <h3>404</h3>
        <p>Eu acho que está perdido. deseja ir para algum lugar?</p>
      </div>
    </div>
  </body>
</html>
