<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="login__wrapper">
        <h3 class="text-accent">3DViewer</h3>
        <!--     <div class="icon"></div> -->
        <div class="tabs">
          <button class="btn-tab" data-index=login>Login</button>
          <button class="btn-tab" data-index="register">Register</button>
        </div>
    
        <!--   Login   -->
        <form action="/login" class="form__group active" data-index="login" id="form" method="post">
          <div class="form__group-wrapper">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" name="username" class="form__input" />
          </div>
          <div class="form__group-wrapper">
            <label class="form-label" for="password">Password</label>
            <input type="text" id="password" name="password" class="form__input" />
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
    
        <!--  Register    -->
        <form action="/register" class="register__group" data-index="register" id="register" method="post">
          <div class="form__group-wrapper">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" name="username" class="form__input" />
          </div>
          <div class="form__group-wrapper">
            <label class="form-label" for="email">Email</label>
            <input type="email" id="email" name="email" class="form__input" />
          </div>
          <div class="form__group-wrapper">
            <label class="form-label" for="password">Password</label>
            <input type="text" id="password" name="password" class="form__input" />
          </div>
          <div class="form__group-wrapper">
            <label class="form-label" for="confirm_password">Confirm Password</label>
            <input type="text" id="confirm_password" name="confirm_password" class="form__input" />
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
    
        <a class="text-muted" href="#">Forgot your password?</a>
      </div>
    </div>
    <script src="js/main.js" defer></script>
  </body>
</html>
