@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Karla:wght@200;400&family=Poppins:wght@100;200;300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&family=Signika+Negative:wght@300;400&family=Sofia+Sans+Semi+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Karla:wght@200;400&family=Poppins:wght@100;200;300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&family=Signika+Negative:wght@300;400&family=Sofia+Sans+Semi+Condensed&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Signika Negative", sans-serif;
  background-color: #eee;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f8a70;
  background-image: radial-gradient(#333 10%, transparent 20%);
  background-size: 10px 10px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}
.container .login__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 3px 3px 20px 0 #222;
  padding: 4rem 1rem;
  border-radius: 1rem;
  min-width: 350px;
  background-color: #222;
}
.container .login__wrapper .btn-tab {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  background-color: #138f47;
  color: white;
  font-weight: 300;
  transition: all 0.2s ease;
}
.container .login__wrapper .btn-tab:hover {
  background-color: #333;
}
.container .login__wrapper .btn-tab:active {
  background-color: #138f47;
}
.container .login__wrapper .icon {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -230%);
  width: 100px;
  height: 100px;
  background-color: #282a3a;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-image: url("https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Sunglasses&hairColor=BrownDark&facialHairType=MoustacheFancy&facialHairColor=Black&clotheType=CollarSweater&clotheColor=Red&eyeType=Happy&eyebrowType=Angry&mouthType=Grimace&skinColor=Brown");
  background-size: cover;
  background-repeat: no-repeat;
}
.container .login__wrapper .form__group,
.container .login__wrapper .register__group {
  width: 100%;
  display: none;
  gap: 1rem;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.container .login__wrapper .form__group-wrapper,
.container .login__wrapper .register__group-wrapper {
  display: flex;
  flex-direction: column;
}
.container .login__wrapper .form__group-wrapper .form-label,
.container .login__wrapper .register__group-wrapper .form-label {
  width: fit-content;
  text-align: left;
  display: inline-block;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: rgb(114, 114, 114);
}
.container .login__wrapper .form__group-wrapper .form__input,
.container .login__wrapper .register__group-wrapper .form__input {
  margin-top: 0;
  border-radius: 0.5rem;
  padding: 0.6rem 0 0.5rem 0.5rem;
  border: none;
  background-color: #44a;
  color: white;
}
.container .login__wrapper .form__group-wrapper .form__input:focus,
.container .login__wrapper .register__group-wrapper .form__input:focus {
  outline: none;
}
.container .login__wrapper .active {
  display: flex;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0.6rem 0;
  border: none;
  background-color: #138f47;
  color: white;
  font-weight: 300;
  border-radius: 0.5rem;
  width: 10rem;
  align-self: center;
}

.text-muted {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  color: #444;
}

.text-accent {
  font-size: 2rem;
  color: white;
  font-family: "Signika Negative", "Roboto", sans-serif;
  width: fit-content;
  background-color: rgba(58, 58, 128, 0.288);
  padding: 0.2rem;
  border-radius: 0.5rem 0.7rem;
  align-self: center;
  margin-bottom: 1rem;
}

.container-notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #1f8a70;
}
.container-notfound .notfound__error {
  align-self: center;
}
.container-notfound .notfound__error h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20rem;
}
.container-notfound .notfound__error p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.message {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.4rem;
  border-radius: 0.2rem;
}
